<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Contact Exchange</title>
	<link rel="stylesheet" href="../StyleSheets/HomePage.css" />
</head>
<body>
	<h1>
		<input class="home_page" id="Sign_in" type="button" value="Sign in" />
		<input class="home_page" id="Sign_up" type="button" value="Sign up" />
	</h1>
	<h3>
		A Contact Exchange APP
	</h3>

	<ul class="middleList">
		<li><input class="home_page" id="View_Contacts" type="button" value="View Contacts" /></li>
		<li><input class="home_page" id="Add_Contacts" type="button" value="Add Contacts" /></li>
		<li><input class="home_page" id="View_My_Profile" type="button" value="View MyProfile" /></li>
	</ul>
</body>
</html>